.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px; /* Adjust height as needed */
    background-color: #06024d;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand img {
    height: 100%;
    max-height: 60px; /* Adjust logo size */
    width: auto;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: cornsilk;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #c2c204;
  }
  